<ul>
    <div class="navbar">
        <li>
            <a><img src="./assets/images/logo.png" id="logo" alt="visa logo"></a>
        </li>
        <div class="navItems">
            <li><a class="active" href="#payWithVisa" id="payWithVisa"> Pay with Visa</a></li>
            <li><a href="#PartnerWithUs">Partner With Us</a></li>
            <li><a href="#runYourBusiness">Run Your Business</a></li>
            <li><a href="#travelWithVisa">Travel With Visa</a></li>
            <li><a href="#visaEverywhere">Visa Everywhere </a></li>
        </div>
    </div>
</ul>