body {
    width: 100%;
    height: 100%;
    background-color: rgb(42, 81, 150);
}

.homepageText {
    width: 100%;
    height: 100%;
    /*GRADIENT COLORS top:132E96 bottom:2861AE */
    background: linear-gradient(90deg, #132E96, #2861AE) !important;
    color: pink
}