/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}


/*
Colors Scheme
- gold: #f7b600 
- navy: #1a1f71
- burnt orange: #EFC102
*/

body {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 110px;
    width: 100%;
    background-color: #1a1f71;
    background: linear-gradient(90deg, #1a1e5a, #143D9B) !important;
    border-bottom: solid 8px;
    border-image: linear-gradient(to right, #F0BF00, #EADA00);
    border-image-slice: 1;
    /*CSS gradient F0BF00 to EADA00*/
    text-align: center;
}

li {
    float: left;
}

#logo {
    /*  margin-top: 2%;
     margin-left: 80%;*/
    height: 2.0rem;
}

.navbar {
    margin-left: 5%;
    text-align: center;
    margin: auto;
    background-color: linear-gradient(90deg, #1a1e5a, #143D9B);
}

li a {
    height: 1.5rem;
    display: block;
    color: white;
    text-align: center;
    padding: 2rem 20px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    /* font-family: 'open-sans', sans-serif, Tahoma;*/
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 2%;
}

li a:hover {
    color: #EFC102;
}